.a1{
  background-color: #212121;
    color: #f7f7f7;

}
.a2{
  margin-left: 50px;
  margin-top: 7px;

}
.a3{
  font-size: 40px;
    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
}
.a4{
  color: red;
}
