.a1{
  background-color: #212121;
    color: #f7f7f7;


}
.a2{
  margin-left: 30px;
  margin-top: 7px;
  margin-bottom: 10px;

}
.a3{
    margin-bottom: 20px;
    font-size: 40px;
    color: white;
    font-family: 'ZCOOL XiaoWei', serif;
}
.a4{
  color: red;
}
.a5{
  margin: 4px;
background-color: white;
width: 158px;
padding: 2px;
font-family: 'Cabin', sans-serif;
}
