.a1{
  background-color: #212121;
    color: #f7f7f7;


}
.a2{
  margin-left: 30px;
  margin-top: 7px;
  margin-bottom: 10px;

}
.a3{
    margin-left: 20px;
    margin-bottom: 5px;
    font-size: 40px;
    color: white;

    font-family: 'ZCOOL XiaoWei', serif;
}
.a4{
  color: red;
  font-size: 25px;
}
.a5{
  margin: 5px;
background-color: white;
width: 140px;
padding: 2px;
font-family: 'Cabin', sans-serif;
}
.btn{

}
